################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BrokenLinkChecker.App/bin/Debug/net7.0
/BrokenLinkChecker.App/obj
